<div class="container">
  <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :rating, collection: 0..5 %>
      <%= f.input :content%>
    <div class="form-actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>


